<section class="footerWrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="ft-logo">
                    <img src="/assets/logo job.png">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et consequat elit. Proin molestie eros
                    sed urna auctor lobortis. Integer eget scelerisque arcu. Pellentesque scelerisque pellentesque nisl,
                    sit amet aliquam mi pellentesque fringilla. Ut porta augue a libero pretium laoreet. Suspendisse sit
                    amet massa accumsan, pulvinar augue id, tristique tortor.
                </p>
                <div class="social">
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-google-plus"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <h5>Quick Links</h5>
                <div class="quicklinks">
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Career Services</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>CV Writing</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Career Resources</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Company Listings</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Success Stories</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Contact Us</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Create Account</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Post a Job</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Contact Sales</a>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h5>Jobs By Industry</h5>
                <div class="quicklinks">
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Information Technology Jobs</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Recruitment/Employment Firms Jobs</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Education/Training Jobs</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Manufacturing Jobs</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Call Center Jobs</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>N.G.O./Social Services Jobs</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>BPO Jobs</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Textiles/Garments Jobs</a>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-arrow-right"></i>Telecommunication/ISP Jobs</a>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h5>Latest Articles</h5>
                <div class="row">
                    <div class="col-md-4">
                        <img src="assets/news-1.jpg">
                    </div>
                    <div class="col-md-8">
                        <h4 class="entry-title">
                            <a href="#">Sed fermentum at lectus nec porta.</a>
                        </h4>
                        <span class="entry-date">Jan 28, 2016</span>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/news-2.jpg">
                    </div>
                    <div class="col-md-8">
                        <h4 class="entry-title">
                            <a href="#">Sed fermentum at lectus nec porta.</a>
                        </h4>
                        <span class="entry-date">Jan 28, 2016</span>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/news-3.jpg">
                    </div>
                    <div class="col-md-8">
                        <h4 class="entry-title">
                            <a href="#">Sed fermentum at lectus nec porta.</a>
                        </h4>
                        <span class="entry-date">Jan 28, 2016</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row p-0 m-0 justify-content-center">
        <div class="col-md-8 p-3">
            <span>Copyright © 2017 Your Company Name. All Rights Reserved. Design by:</span><a href="">eCreativeSolutions</a>
        </div>
    </div>
</section>