<div class="row card m-3 ">
    <div class="col ">
        <div class="row justify-content-center pt-3">
            <div class="col heading"> Jobs By Title</div>
        </div>
        <div class="row pt-3">
            <div class="col-md-1"><input type="checkbox"></div>
            <div class="col-md-7">{{domain1}}</div>
            <div class="col-md-2">{{num1}}</div>
        </div>
        <div class="row pt-3">
            <div class="col-md-1"><input type="checkbox"></div>
            <div class="col-md-7">{{domain2}}</div>
            <div class="col-md-2">{{num2}}</div>
        </div>
        <div class="row pt-3">
            <div class="col-md-1"><input type="checkbox"></div>
            <div class="col-md-7">{{domain3}}</div>
            <div class="col-md-2">{{num3}}</div>
        </div>
        <div class="row pt-3">
            <div class="col-md-1"><input type="checkbox"></div>
            <div class="col-md-7">{{domain4}}</div>
            <div class="col-md-2">{{num4}}</div>
        </div>
        <div class="row pt-3">
            <div class="col-md-1"><input type="checkbox"></div>
            <div class="col-md-7">{{domain5}}</div>
            <div class="col-md-3">{{num5}}</div>
        </div>
        <div class="row pt-3">
            <div class="col-md-1"><input type="checkbox"></div>
            <div class="col-md-7">{{domain6}}</div>
            <div class="col-md-3">{{num6}}</div>
        </div>
        <div class="row pt-3 pb-2">
            <div class="col-4">view more</div>
        </div>
    </div>
</div>