<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="/assets/logo job.png" alt="">
    <div class="details">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto list">
          <li class="nav-item dropdown">
            <a class="nav-link" routerLink="/home">
              HOME
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus">ABOUTUS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              PAGES
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/login">Login</a>
              <a class="dropdown-item" routerLink="/join">Register</a>
              <a class="dropdown-item" routerLink="/jobseekers">Candidate listing</a>
              <a class="dropdown-item"  routerLink="/candidatedetails" >Candidate Details </a>
              <!-- <a class="dropdown-item" routerLink="/companydetails">company profile</a> -->
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog">
              BLOG
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">CONTACT</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/postjob">
              POSTAJOB
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/jobseekers">JOBSEEKER</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle img" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="/assets/logo.jpeg" alt="">
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/editprofile"><i class="fa fa-briefcase" aria-hidden="true"></i>Edit profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

