<section class="postbody">
    <div class="row justify-content-between m-0 pt-5">
        <div class="col-md-3 col-sm-12">
            <h1>Login</h1>
        </div>
        <div class="col-md-3 col-sm-12 home">
            <a href="">contact</a><span>/ contact us</span>
        </div>
    </div>
</section>
<!-- Contccts Us -->
<div class="inner-page">
    <div class="container">
        <div class="contact-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <span>We Are Here For Your Help</span>
                        <h2>GET IN TOUCH FAST</h2>
                        <p>Vestibulum at magna tellus. Vivamus sagittis nunc aliquet. Vivamin orci aliquam
                            eros vel saphicula. Donec eget ultricies ipsmconsequat.</p>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="contact-now">
                        <div class="contact">
                            <span>
                                <i class="fas fa-home"></i>
                            </span>
                            <div class="information">
                                <strong>Address:</strong>
                                <p>8500 lorem, New Ispum, Dolor amet sit 12301</p>
                            </div>
                        </div>
                        <div class="contact">
                            <span>
                                <i class="fas fa-envelope"></i>
                            </span>
                            <div class="information">
                                <strong>Email Address:</strong>
                                <p>investigate@your-site.com</p>
                                <p>investigate@your-site.com</p>
                            </div>
                        </div>
                        <div class="contact">
                            <span>
                                <i class="fa fa-phone"></i>
                            </span>
                            <div class="information">
                                <strong>Phone No:</strong>
                                <p>+12 345 67 09</p>
                                <p>+12 345 67 09</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="contact-form">
                        <form class="form-group">
                            <div class="row">
                                <div class="col-md-6 mt-5">
                                    <input type="text" class="form-control" id="name" placeholder="FullName">
                                </div>
                                <div class="col-md-6 mt-5">
                                    <input type="text" class="form-control" id="phone" placeholder="Phone">
                                </div>
                                <div class="col-md-12 mt-5">
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                                <div class="col-md-12 mt-5">
                                    <textarea rows="7" name="comments" class="form-control" id="comments"
                                        placeholder="Details"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <div class="row justify-content-end">
                                        <button  class="button " type="submit" id="submit">Submit Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contccts Us -->
  <!-- footer -->
  <app-footer></app-footer>  