<section class="postbody">
    <div class="row justify-content-between m-0 pt-5">
        <div class="col-md-3">
            <h1>Post Job</h1>
        </div>
        <div class="col-md-3 home">
            <a href=""> Home</a><span>/ Post Job</span>
        </div>
    </div>
</section>
<section class="postmainbody">
    <div class="container pt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 card p-5">
            <form>
                <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <h4>Job Information</h4>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Job Title">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="Industry Area">Industry Area</option>
                            <option value="IT">IT</option>
                            <option value="Accounts">Accounts</option>
                            <option value="MarKeting">MarKeting</option>
                            <option value="Manager">Manager</option>
                            <option value="Banking">Banking</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="Monthaly Salary">Monthaly Salary</option>
                            <option value="$5000-$9000">$5000-$9000</option>
                            <option value="$9000-$14000">$9000-$14000</option>
                            <option value="$14000-$19000">$14000-$19000</option>
                            <option value="$19000-$23000">$19000-$23000</option>
                            <option value="$23000-$27000">$23000-$27000</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="Location">Location</option>
                            <option value="New York">New York</option>
                            <option value="Atianta">Atianta</option>
                            <option value="california">california</option>
                            <option value="Verginia">Verginia</option>
                            <option value="san Joes">san Joes</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="Empoyment status">Empoyment status</option>
                            <option value="permanent">permanent</option>
                            <option value="contract">contract</option>
                            <option value="Freelance">Freelance</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="Empolyment type">Empolyment type</option>
                            <option value="Manager">Manager</option>
                            <option value="Junior Designer">Junior Designer</option>
                            <option value="senior Developer">senior Developer</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="positions">positions</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="Experience">Experience</option>
                                    <option value="fresh">fresh</option>
                                    <option value="1Year">1Year</option>
                                    <option value="2Year">2Year</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="Gender">Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Any">Any</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="nationality">nationality</option>
                            <option value="India">India</option>
                            <option value="US">US</option>
                            <option value="UK">UK</option>
                        </select>
                    </div>
                </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-md-3">
                        <div class="row pt-3"><input type="checkbox">" Your Info"</div>
                        <div class="row pt-3"><input type="checkbox">" Your Info"</div>
                        <div class="row pt-3"><input type="radio">Your radio Label</div>
                    </div>
                    <div class="col-md-3">
                        <div class="row pt-3"><input type="checkbox">" Your Info"</div>
                        <div class="row pt-3"><input type="checkbox">" Your Info"</div>
                        <div class="row pt-3"><input type="radio">Your radio Label</div>
                    </div>
                    <div class="col-md-3"> 
                        <div class="row pt-3"><input type="checkbox">" Your Info"</div>
                        <div class="row pt-3"><input type="checkbox">" Your Info"</div>
                        <div class="row pt-3"><input type="radio">Your radio Label</div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-12">
                        <textarea rows="5" name="aboutme" class="form-control"
                            placeholder="About Me"></textarea>
                    </div>
                </div>
                <div class="row pt-3">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Post Job" >
                </div>
            </form>
        </div>
    </div>
</div>
</section>