button{
    width: 100%;
    background: #263bd6;
    color: #fff;
    border-radius: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    outline: 0;
    border: 0;
}
.Details>input{
    padding:10px 10px 100px 10px ;
}
.postbody{
    background-image: url("/assets/bodyimg.jpg");
    background-size: cover;
    height: 200px;
}
.postmainbody{
    background-color: rgb(236, 229, 229);
}
h1{
    color: white;
    font-weight: 900;
}
span{
    color:blue;
}
.home>a{
    color: white;
}