<section class="postbody">
    <div class="row justify-content-between m-0 pt-5">
        <div class="col-md-3">
            <h1>Register</h1>
        </div>
        <div class="col-md-3 home">
            <a href=""> Home</a><span>/ Register</span>
        </div>
    </div>
</section>
<section class="joinbody">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 pt-5 pb-5">
                <form class="card pt-3 pb-3" [formGroup]="loginForm" (ngSubmit)="handealClick()" >
                    <div class="row justify-content-center">
                        <div class="col-md-8 pl-5 ">
                            <h3>Login Or Register with Social</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 facebookicon"><a href=""><i class="fab fa-facebook-square fa-3x"></i></a></div>
                        <div class="col-md-1 twittericon"><a href=""><i class="fab fa-twitter-square fa-3x"></i></a></div>
                        <div class="col-md-1 googleicon"><a href=""><i class="fab fa-google-plus fa-3x"></i></a></div>
                    </div>
                    <div class="row p-3 justify-content-center">
                        <h2>Register</h2>
                    </div>
                    <div class="row p-3 justify-content-center  ">
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="Company_Name" placeholder="Company Name">
                        </div>
                    </div>
                    <div class="row p-3 justify-content-center  ">
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="UserName" placeholder="UserName">
                        </div>
                    </div>
                    <div class="row p-3 justify-content-center  ">
                        <div class="col-md-8">
                            <input type="email" class="form-control" formControlName="email" placeholder="email">
                        </div>
                    </div>
                    <div class="row p-3 justify-content-center">
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="password" placeholder="password">
                        </div>
                    </div>
                    <div class="row p-3 justify-content-center">
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="CFM_password" placeholder="CFM-password">
                        </div>
                    </div>
                    <div class="row p-3 justify-content-center">
                        <div class="col-md-8">
                            <input type="submit" class="form-control" class="btn btn-primary btn-lg btn-block"
                                value="Register">
                        </div>
                    </div>
                    <div class="row p-3 justify-content-center">
                        <span></span><span>Already a Member?</span><a href="">Login Here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
  <!-- footer -->
  <app-footer></app-footer>  