.postbody{
    background-image: url("/assets/bodyimg.jpg");
    background-size: cover;
    height: 200px;
}
h1{
    color: white;
    font-weight: 900;
}
span{
    color:blue;
}
.home>a{
    color: white;
}
.joinbody{
    background-color: rgb(204, 193, 193);
}
.facebookicon{
    color: rgba(50, 50, 139, 0.822);
    padding-left:40%;
}
.twittericon{
    color: rgb(6, 151, 248);
    padding-left:5%;

}
.googleicon{
    color: crimson;
    padding-left:3%;

}