<section class="postbody">
    <div class="row justify-content-between m-0 pt-5">
        <div class="col-md-3">
            <h1>Login</h1>
        </div>
        <div class="col-md-3 home">
            <a href=""> Home</a><span>/ Job Name</span>
        </div>
    </div>
</section>
<section class="loginbody">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 pt-5 pb-5">
            <form class="card pt-3 pb-3">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h3>Login Or Register with Social</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-1 facebookicon"><a><i class="fab fa-facebook-square fa-3x"></i></a></div>
                    <div class="col-md-1 twittericon"><a><i class="fab fa-twitter-square fa-3x"></i></a></div>
                    <div class="col-md-1 googleicon"><a><i class="fab fa-google-plus fa-3x"></i></a></div>
                </div>
                <div class="row p-3 justify-content-center">
                    <h2>User Login</h2>
                </div>
                <div class="row p-3 justify-content-center  ">
                    <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="UserName">
                    </div>
                </div>
                <div class="row p-3 justify-content-center">
                    <div class="col-md-8">
                            <input type="text"class="form-control" placeholder="password">
                    </div>
                </div>
                <div class="row p-3 justify-content-center">
                    <div class="col-md-8">
                            <input type="submit"class="form-control" class="btn btn-primary btn-lg btn-block" value="LOGIN">
                    </div>
                </div>
                <div class="row p-3 justify-content-center">
                    <span></span><span>NEW USER?</span><a href="">REGISTER Here</a>
                </div>
            </form>
        </div>
    </div>
    </div>
</section>