<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="page-heading">EditProfile</h1>
            </div>
            <!-- <div class="col-md-6">Abouts</div> -->
        </div>
    </div>
</div>

<div class="listpgWraper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="userccount">
                    <div class="formpanel">
                        <h5>Personal Information</h5>
                        <form class="form-group">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="name" placeholder="UserName">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="phone" placeholder="Phone">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="website" placeholder="Website">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="name" placeholder="Address">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="name" placeholder="Designation">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <select class="form-control" name="experience">
                                        <option>Experience</option>
                                        <option>Fresh</option>
                                        <option>1 year</option>
                                        <option>2 year</option>
                                        <option>3 year</option>
                                        <option>4 year</option>
                                        <option>5 year</option>
                                        <option>6 year</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <select class="form-control" name="age">
                                        <option>Age</option>
                                        <option>20 yea</option>
                                        <option>21 year</option>
                                        <option>22 year</option>
                                        <option>23 year</option>
                                        <option>24 year</option>
                                        <option>25 year</option>
                                        <option>26 year</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <select class="form-control" name="current">
                                        <option>Current Salary</option>
                                        <option>$500 - $999</option>
                                        <option>$999 - $1499</option>
                                        <option>$1500 - $1999</option>
                                        <option>$2000 - $3000</option>
                                        <option>$3000+</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <select class="form-control" name="demand">
                                        <option>Demand</option>
                                        <option>$500 - $999</option>
                                        <option>$999 - $1499</option>
                                        <option>$1500 - $1999</option>
                                        <option>$2000 - $3000</option>
                                        <option>$3000+</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="edulevel"
                                        placeholder="Education Level">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="file" class="form-control" name="uploadcv">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea rows="5" name="aboutme" class="form-control"
                                        placeholder="About Me"></textarea>
                                </div>
                            </div>
                            <hr>
                            <h5>Skills</h5>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="skill" placeholder="Skill Name">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="skilllevel"
                                        placeholder="Skill Level in %">
                                </div>
                            </div>
                            <a href="#">Add Other</a>
                            <hr>
                            <h5>Education</h5>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="degreename" placeholder="Degree Name">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="degreedate"
                                        placeholder="Degree Compelete Date">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <textarea rows="5" name="aboutdeg" class="form-control"
                                        placeholder="About Degree"></textarea>
                                </div>
                            </div>
                            <a href="#">Add Other</a>
                            <hr>
                            <h5>Experience</h5>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="company" placeholder="Company">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="webcom" placeholder="Company Website">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <select class="form-control" name="join-frm">
                                        <option>Join From</option>
                                        <option>2011</option>
                                        <option>2012</option>
                                        <option>2013</option>
                                        <option>2014</option>
                                        <option>2015</option>
                                        <option>2016</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <select class="form-control" name="endon">
                                        <option>End on</option>
                                        <option>2011</option>
                                        <option>2012</option>
                                        <option>2013</option>
                                        <option>2014</option>
                                        <option>2015</option>
                                        <option>Present</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="location" placeholder="Location">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <textarea rows="5" name="about-company" class="form-control"
                                        placeholder="About Company"></textarea>
                                </div>
                            </div>
                            <a href="#">Add Other</a>
                            <hr>
                            <h5>Portfolio</h5>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="projname" placeholder="Project Name">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <select class="form-control" name="startfrm">
                                        <option>Srart From</option>
                                        <option>2011</option>
                                        <option>2012</option>
                                        <option>2013</option>
                                        <option>2014</option>
                                        <option>2015</option>
                                        <option>2016</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <select class="form-control" name="endon">
                                        <option>End on</option>
                                        <option>2011</option>
                                        <option>2012</option>
                                        <option>2013</option>
                                        <option>2014</option>
                                        <option>2015</option>
                                        <option>Present</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <input type="text" class="form-control" name="projdesc" placeholder="Project Short Description">
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <input type="file" class="form-control" name="image">
                                    </div>
                                </div>
                            <a href="#">Add Other</a>
                            <hr>
                            <h5>Social</h5>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="fb" placeholder="Facebook">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="twitter" placeholder="Twitter">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="gplus" placeholder="Google Plus">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="linkedin" placeholder="Linked In">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="pinterest" placeholder="Pinterest">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="Behance" placeholder="Behance">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary">Update and Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>