.row{
    padding: 20px;
    margin-right:unset;
    margin-left:unset;
}
.col{
    padding: 10px;
    margin: auto;
}

.card{
    border: 1px solid;
    padding: 10px;
    box-shadow: 3px 3px #888888;
}