<!-- the Get Started new -->
<div class="homebody">
    <div class="container">
        <div class="row">
            <div class="col title">
                <h2>One million success stories.<br> Start yours today.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 jobtitle">
                <input type="text" placeholder="Enter Skills or Job title">
            </div>
            <div class="col-md-3 option">
                <select name="cars">
                    <option value="volvo">Select Categories</option>
                    <option value="saab">Marketing</option>
                    <option value="fiat">Techning&Education</option>
                </select>
            </div>
            <div class="col-md-2 option">
                <select name="cars">
                    <option value="volvo">Select City</option>
                    <option value="saab">New York</option>
                    <option value="fiat">San Joes</option>
                </select>
            </div>
            <div class="col-md-2 option">
                <input type="submit" value="SEARCH JOB">
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 getstarted">
                <button type="submit">Get Started Now</button>
            </div>
        </div>
    </div>
</div>
<!--end of the Get Started new -->
<!-- How it works -->
<div class="container">
    <div class="row  mt-5">
        <div class="col worktitle">
            <h5>Here You Can See</h5>
        </div>
    </div>
    <div class="row">
        <div class="col  worktitle">
            <h1>HOW It <span>WORKS ?</span></h1>
        </div>
    </div>
</div>
<!-- icon reusebility -->
 <!-- <div class="container">
    <div class="row justify-content-between iconrow">
        <div class="col-md-4" *ngFor="let data of details;">
            <app-icons [icon]="data.icon" [title]="data.title" [para]="data.para"></app-icons>
        </div>
    </div>
</div>   -->
                                       <!-- Employers compodant -->
                                        <app-employers></app-employers>
                                        <!-- Popular Searches -->
                                        <app-popularlist></app-popularlist>
                                        <!-- feature job -->
                                        <app-feature></app-feature>
