
<div class="container">
    <div class="row">
        <div class="col">
            <h6>Here You Can See</h6>
            <div class="row">
                <div class="col-ms-6">
                    <h1>Popular Searches</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-md-5">
            <div class="row righthead justify-content-center">
                <h3>BROWSEBYCATEGORIES</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li> <a href=""> Marketing</a></li>
                        <li> <a href=""> Writing</a></li>
                        <li> <a href=""> Administration</a></li>
                        <li> <a href="">CEO </a></li>
                        <li> <a href=""> Software&Web</a></li>
                        <li> <a href=""> CustomerService</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li> <a href=""> Teaching</a></li>
                        <li> <a href=""> Engineering</a></li>
                        <li> <a href=""> Sales&BD</a></li>
                        <li> <a href=""> CreativeDesign</a></li>
                        <li> <a href=""> WebDesign</a></li>
                        <li> <a href=""> Teaching</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row lefthead justify-content-center">
                <h3>BROWSeByCITIEs</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li> <a href=""> Teaching</a></li>
                        <li> <a href=""> Engineering</a></li>
                        <li> <a href=""> Sales&BD</a></li>
                        <li> <a href=""> CreativeDesign</a></li>
                        <li> <a href=""> WebDesign</a></li>
                        <li> <a href=""> Teaching</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li> <a href=""> Marketing</a></li>
                        <li> <a href=""> Writing</a></li>
                        <li> <a href=""> Administration</a></li>
                        <li> <a href="">CEO </a></li>
                        <li> <a href=""> Software&Web</a></li>
                        <li> <a href=""> CustomerService</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>